<p-toast position="bottom-center"></p-toast>
<div style="margin:0 auto;max-width: 700px;height:100px;">
  <div style="text-align: center;padding-top: 5px;">
    <h2>Project User Stories</h2>
    <h4>Project: {{currentProject.default.title}}</h4>
  </div>
</div>
<div style="padding-top: 20px;">
  <p-pickList [source]="userStories" [target]="targetUserstories" sourceHeader="Available User Stories" targetHeader="Current Sprint Number: {{currentSprintNum}}"
    [responsive]="true" filterBy="details" dragdrop="true" sourceFilterPlaceholder="Search by details"
    targetFilterPlaceholder="Search by details" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
    <ng-template let-userStory pTemplate="item">
      <div class="ui-helper-clearfix">
        <div style="display:inline-block;margin:2px 0 2px 2px" width="48">Priority: {{userStory.priority}}
        </div>
        <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{userStory.details}}</div>
      </div>
    </ng-template>
  </p-pickList>
</div>

<div style="margin:0 auto;max-width: 700px;height:100px;">
  <div style="text-align: center;padding-top: 10px;">
    <p-button label="New User Story" icon="pi pi-plus" iconPos="left" styleClass="ui-button-success" (onClick)="newStoryClick($event)"></p-button>
  </div>
  <div style="text-align: center;padding-top: 10px;">
    <p-button label="Save Sprint" icon="pi pi-save" iconPos="left" styleClass="ui-button-warning" (onClick)="saveSprint($event)"></p-button>
  </div>
  <div style="text-align: center;padding-top: 10px;">
    <p-button label="Past Sprints" iconPos="left" styleClass="ui-button-danger" (onClick)="redirectToPastSprints(projectId)"></p-button>
  </div>
</div>


<p-dialog header="New User Story" [(visible)]="displayDialog" [resizable]="true" [responsive]="true" dismissableMask=true
  (onAfterHide)=" onDialogHide()" [modal]="true" appendTo="body" [focusOnShow]="false">
  <!-- <p-toast key="supportDetails"></p-toast> -->
  <div class="ui-g">
    <div class="ui-g-4">Details: </div>
    <div class="ui-g-8"><span class="ui-float-label">
        <input id="float-input" type="text" size="30" pInputText [(ngModel)]="newStoryDetails">
        <label for="float-input">I want to...</label>
      </span></div>

    <div class="ui-g-4">Priority: </div>
    <div class="ui-g-8">
      <p-dropdown [options]="priorityLevels" [(ngModel)]="newStoryPriorityLevel" placeholder="Select level of priority"
        [showClear]="true"></p-dropdown>
    </div>


    <div class="
          ui-g-12" style="text-align: center;">
      <p-button label="Create" (click)="createUserStory($event)"></p-button>
    </div>
  </div>
</p-dialog>