<div class="content-container">
    <div fxLayout="row">
        <div fxFlex="75" fxLayoutAlign="start center">
            <h1>Projects</h1>
        </div>
        <div fxFlex="25" fxLayoutAlign="end center">
            <button mat-icon-button aria-label="add project" (click)="addProject()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div class="row card-container" *ngFor="let project of allProjs; let i = index">
        <mat-card (click)="redirectToUserstories(project.default.projectId)">
            <mat-card-title>{{project.default.title}}</mat-card-title>
            <mat-card-content>
                <p> {{project.default.description}}</p>
            </mat-card-content>
        </mat-card>
        <br />
    </div>
</div>