<div>

  <table mat-table [dataSource]="currentUserStories">

    <ng-container matColumnDef="userstories">
      <th mat-header-cell *matHeaderCellDef>User Story</th>
      <td mat-cell *matCellDef="let element"> {{element.details}} </td>
    </ng-container>

    <ng-container matColumnDef="tasks">
      <th mat-header-cell *matHeaderCellDef>Tasks</th>
      <td mat-cell *matCellDef="let element">
        <table class="task-table">
          <tr *ngFor="let task of element.tasks">
            <td>{{task.task.description}} </td>
          </tr>
        </table>
      </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>