<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <div class="header-button align-icon" (click)="isExpanded = !isExpanded">
      <mat-icon>menu</mat-icon>Menu
    </div>

    <span class="example-fill-remaining-space"></span>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" autosize>
    <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
      <mat-nav-list class="dashboard">

        <a mat-list-item (click)="toggleActive($event,'/home')">
          <mat-icon matTooltip="Projects" matTooltipPosition="after" mat-list-icon>category</mat-icon>
          <p matLine *ngIf="isExpanded">Projects</p>
        </a>

        <a mat-list-item *ngIf="!(location.includes('/home'))" (click)="redirectToUserstories($event)">
          <mat-icon matTooltip="Project User Stories" matTooltipPosition="after" mat-list-icon>speaker_notes</mat-icon>
          <p matLine *ngIf="isExpanded">Project User Stories</p>
        </a>

        <a mat-list-item *ngIf="!(location.includes('/home'))" (click)="redirectToCurrentSprint($event)">
          <mat-icon matTooltip="Current Sprint" matTooltipPosition="after" mat-list-icon>show_chart</mat-icon>
          <p matLine *ngIf="isExpanded">Current Sprint</p>
        </a>

        <a mat-list-item *ngIf="!(location.includes('/home'))" (click)="redirectToPastSprints($event)">
          <mat-icon matTooltip="Past Sprints" matTooltipPosition="after" mat-list-icon>restore</mat-icon>
          <p matLine *ngIf="isExpanded">Past Sprints</p>
        </a>



      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="example-sidenav-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>